C:/Users/HP/Downloads/resnet18_3d_best_T.pth filter=lfs diff=lfs merge=lfs -text
E:/pp2/SLIIT---NSCLC360/backend/TNM/models/* filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
